*Thumbs.db
*.refresh
/App_Data/Index
/App_Data/packages
/Bin/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Dreamweaver
_notes/
dwsync.xml