@using App_Code
@{
    Page.Title = "Orchard Documentation - Search - " + Request.QueryString["q"];
    var resultSet = SearchHelpers.Query(HttpContext.Current, Request.QueryString["q"], int.Parse(Request.QueryString["p"] ?? "0"));
    if (resultSet.Count() == 0) {
        @:No results found.
    }
    else {
        <ul id="SearchResultsDiv">
            @foreach (var doc in resultSet) {
            <li>
                <article>
                    <header>
                        <h2><a href="@doc.Get("Url")">@doc.Get("Title")</a></h2>
                    </header>
                    <p>@Html.Raw(doc.Get("Summary"))</p>
                    <div><a href="@doc.Get("Url")">Read more...</a></div>
                </article>
            </li>
            }
        </ul>
        }
}