<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="bingAppId" value="Please put your Bing app id here"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.markdown"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>